<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTO Mybatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="DB2Tables" targetRuntime="Mybatis3">
        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql:/127.0.0.1:3306/miaosha" userId="root" password="root">
        </jdbcConnection>
        <!--生成MDataObject类存放位置-->
        <javaModelGeneratpr targetPackage="com.miaoshaProject.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="teue"/>
            <property name="trimStrings" value="teue"/>
        </javaModelGeneratpr>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <!--客户端代码，生成易于使用的针对Model对象和XML配置文件的代码
        type="ANNOTATEDMAPPER",生成java Model和基于注解的Mapper对象
        type="MIXEDMAPPER",生成基于注解的java Model和对应Mapper对象
        type="XMLMAPPER"，生成SQLMap XML文件和独立的Mapper接口-->
        <javaClientGenerator type="XMLMAPPER" typePackage="com.miaoshaProject.dao" tergetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--生成对于表及类名-->
        <table tableName="user_info" domainObjectName="UserDO"></table>
        <table tableName="user_password" domainObjectName="UserPasswordDO"></table>
    </context>
</generatorConfiguration>